<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #445f8f;
}

.container {
    position: relative;
    max-width: 100%;
    width: 400px;
    height: auto;
    background: transparent;
    border: 2px solid #0ef;
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.association-logo {
    width: 80px; 
    height: auto; 
    margin-right: 10px;
    float: left;
}

.container .login-box {
    position: relative;
    width: 100%;
}

.login-box .page-box {
    display: flex;
    flex-direction: column;
}

.page-box .page {
    width: 100%;
}

.page-box .page.email-page {
    transform: translateX(0);
    transition: .25s ease-in-out;
}

.page-box.active-pass .page.email-page {
    transform: translateX(-500px);
}

.page-box .page.password-page {
    position: absolute;
    transform: translateX(500px);
    margin-top: 50px;
    transition: .25s ease-in-out;
}

.page-box.active-pass .page.password-page {
    transform: translateX(0);
}

.page-box .login-title {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.login-title h2 {
    font-size: 32px;
    line-height: 1.5;
}

.login-title p {
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}

.page .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #587ea9;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
    transition: .3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .3s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    left: 12px;
    font-size: 13px;
    color: #0ef;
    background: #1f293a;
    padding: 0 6px;
}

.input-box img{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.log-link {
    margin-top: 6px;
}

.log-link.show {
    margin: 10px 0 70px;
    display: flex;
    justify-content: space-between;
}

.log-link a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.log-link a:hover {
    text-decoration: underline;
}

.log-link.show label {
    display: flex;
    align-items: center;
    font-size: 14.5px;
    color: #fff;
    cursor: pointer;
}

.log-link.show label input {
    accent-color: #0ef;
    cursor: pointer;
    margin-left: 3px;
}


.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn-box a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.btn-box a:hover {
    text-decoration: underline;
}

.btn-box button {
    width: 100px;
    height: 40px;
    background: #0ef;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #1f293a;
    font-weight: 600;
    margin-top: 0px;
}

.btn-box button:nth-child(1) {
    background: transparent;
    color: #0ef;
}

.input-box {
    margin-bottom: 20px; 
}

.btn-box-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
}

=======
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #445f8f;
}

.container {
    position: relative;
    max-width: 100%;
    width: 400px;
    height: auto;
    background: transparent;
    border: 2px solid #0ef;
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
}

.association-logo {
    width: 80px; 
    height: auto; 
    margin-right: 10px;
    float: left;
}

.container .login-box {
    position: relative;
    width: 100%;
}

.login-box .page-box {
    display: flex;
    flex-direction: column;
}

.page-box .page {
    width: 100%;
}

.page-box .page.email-page {
    transform: translateX(0);
    transition: .25s ease-in-out;
}

.page-box.active-pass .page.email-page {
    transform: translateX(-500px);
}

.page-box .page.password-page {
    position: absolute;
    transform: translateX(500px);
    margin-top: 50px;
    transition: .25s ease-in-out;
}

.page-box.active-pass .page.password-page {
    transform: translateX(0);
}

.page-box .login-title {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.login-title h2 {
    font-size: 32px;
    line-height: 1.5;
}

.login-title p {
    font-size: 16px;
    font-weight: 500;
    word-wrap: break-word;
}

.page .input-box {
    position: relative;
    width: 100%;
    height: 55px;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #587ea9;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    padding: 0 16px;
    transition: .3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #0ef;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: .3s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    left: 12px;
    font-size: 13px;
    color: #0ef;
    background: #1f293a;
    padding: 0 6px;
}

.input-box img{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  transition: all 0.2s;
  cursor: pointer;
}

.log-link {
    margin-top: 6px;
}

.log-link.show {
    margin: 10px 0 70px;
    display: flex;
    justify-content: space-between;
}

.log-link a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.log-link a:hover {
    text-decoration: underline;
}

.log-link.show label {
    display: flex;
    align-items: center;
    font-size: 14.5px;
    color: #fff;
    cursor: pointer;
}

.log-link.show label input {
    accent-color: #0ef;
    cursor: pointer;
    margin-left: 3px;
}


.btn-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.btn-box a {
    font-size: 14.5px;
    color: #0ef;
    text-decoration: none;
}

.btn-box a:hover {
    text-decoration: underline;
}

.btn-box button {
    width: 100px;
    height: 40px;
    background: #0ef;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    color: #1f293a;
    font-weight: 600;
    margin-top: 0px;
}

.btn-box button:nth-child(1) {
    background: transparent;
    color: #0ef;
}

.input-box {
    margin-bottom: 20px; 
}

.btn-box-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
}

>>>>>>> 1fd118398fdc21e3bab91bfd87d94dbc9ce5fc71
